body {
	background-color: #232323;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
<<<<<<< HEAD
}
=======
}
>>>>>>> bbd2c87c9a39ddaf70e9435303a048b9410edc76
